:host ::ng-deep {
  .dropdown-item {
    white-space: nowrap;
  }
  .dropdown-menu {
    width: calc(100% - 34px);
  }
  @media (min-width: 768px) {
    .dropdown-menu {
      width: 410px;
    }
  }
}

form {
  margin-top: 5px;
  @media (min-width: 564px) {
    margin-right: -5px;
  }
  @media (min-width: 992px) {
    width: 100%;
  }

  &.hamburgerOpen {
    @media (max-width: 613px) {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}

.btn-block {
  width: 62px;
}

.search-box-container-action {
  margin-right: auto;
}

.search-box-container {
  position: relative;
  width: 100%;
  min-width: 300px;
  max-width: 600px;
  margin-left: 20px;
  //@media (min-width: 768px) {
  //  min-width: 300px;
  //  max-width: 600px;
  //}
  //@media (min-width: 992px) {
  //  min-width: 300px;
  //}
  //@media (min-width: 1200px) {
  //  min-width: 300px;
  //}

  @media (max-width: 520px) {
    margin-left: 0;
  }

  .btn {
    width: 100px;
  }
}

.spinner-border {
  vertical-align: text-top;
  margin-top: 1px;
  margin-right: 2px;
}

input:focus {
  box-shadow: none;
  border-color: #1b1f2c;
}

.logo-links-block {
  display: flex;
  align-items: center;
  gap: 5px;

  a {
    display: flex;
    align-items: center;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-2px);
    }
  }

  img {
    width: 33px;
    display: block;
  }
}

.logo-links-block__search {
  @media (min-width: 720px) {
    display: flex;
  }

  @media (max-width: 719px) {
    display: none;
  }
}

.search-form-wrapper {
  @media (max-width: 870px) {
    max-width: 600px;
  }

  @media (max-width: 1400px) {
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    justify-content: flex-end;
    padding: 10px 0;
  }
}

.search-input-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
